* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top {
    display: flex; 
    align-items: center;
}
.logo{
    position: relative;
    left: 100px;
    display: flex;
    align-items: center;
    color: #F19201;
    font-size: 10px; 
}
.logo img{
    height: 40px;
}
.logo h1{
    margin-left: 10px;
}
nav {
    position: relative;
    height: 30px;
    width: 51%;
    align-items: center;
    left: 470px;
    background: rgba(0, 20, 0, 0.5);    
    top: -15px; 
    padding-top: 10px; 
    padding-bottom: 5px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    right: -50px; 
}
nav button{
    border: none;
    background-color: #F19201;
    height: 30px;
    width: 90px;
    color: white;
}
.premium{
    background-image: url("images/image2.png");
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -90px;
}
.premium h1{
    position: relative;
    color: white;
    top: 200px;
    left: 100px;
}
.premium button{
    position: relative;
    top: 300px;
    left: 100px;
    border: none;
    background-color: #F19201;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.services{
    background-color:rgba(0, 20, 0, 0.1);
    position: relative;
    top: -170px;
    height: 600px;
}
.services-top{
    position: relative;
    top: 50px;
    
}
.services-top h1{
    color: #F19201;
    display: flex;
    justify-content: center;
}
.services-top p{
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}
.services-box{
    position:relative;
    float: left;
    margin-right: 20px;
    top: 80px;
    width: 300px;
    height: 250px;
    left: 150px;
    padding-top: 30px;
    background-color: white;
    align-content: center;
    text-align: center;
}
.services-box h1{
    background-color: #F19201;
    width: 70px;
    height: 70px;
    clip-path: circle(50% at 50% 50%);
    margin-left: 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-box p{
    font-style: italic;
    line-height: 30px;
}
.reviews{
    margin-top: -190px;
    height: 550px;
    background-color: black;
    background-image: url(images/image1.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}
.reviews-text{
    float: right;
    display: block;
    align-content: center;
    text-align: center;
    margin-right: 150px;
}
.reviews-text h1{
    font-size: 60px;
}
.reviews-text hr{
    border: none;
    width: 100px;
    height: 5px;
    background-color: white;
    margin-top: -20px;
}
.reviews-text h3{
    margin-top: 60px;
}
.reviews-text p{
    font-style: italic;
    line-height: 25px;
}
.reviews-text h4{
    margin-top: 50px;
}
.menu{
    background-color:rgba(0, 20, 0, 0.1);
    height: 950px;
    margin-top: -21px;
    align-content: center;
    text-align: center;
}
.menu h1 {
    color: #F19201;
    padding-top: 60px;
}
.menu p{
    font-style: italic;
    line-height: 25px;
}
.menu-list{
    float: left;
    background-color: white;
    width: 520px;
    height: 300px;
    margin-left: 80px;
    margin-top: 40px;
    align-content: left;
    text-align: left;
}
.menu-list h1{
    color: black;
}
.menu-list img{
    height: 250px;
    float: left;
    margin: 20px;
}
.menu-list button{
    background-color: rgba(0, 20, 0, 0.1);
    border: none;
    width: 100px;
    height: 30px;
}
.book{
    background-image: url(images/image8.png);
    height: 400px;
    background-size: contain;
    align-content: center;
    text-align: center;
    margin-top: -30px;
    color: white;
}
.book p{
    padding-top: 80px;
    font-size: 30px;
    font-style: italic;
}
.book h1{
    padding: 20px
}
.book button{
    background-color:unset;
    color: white;
    border: 2px solid white;
    width: 140px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}