* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top {
    display: flex; 
    align-items: center;
}
.logo{
    position: relative;
    left: 100px;
    display: flex;
    align-items: center;
    color: #F19201;
    font-size: 10px; 
}
.logo img{
    height: 40px;
}
.logo h1{
    margin-left: 10px;
}
nav {
    position: relative;
    height: 30px;
    width: 51%;
    align-items: center;
    left: 470px;
    background: rgba(0, 20, 0, 0.5);    
    top: -15px; 
    padding-top: 10px; 
    padding-bottom: 5px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    right: -50px; 
}
nav button{
    border: none;
    background-color: #F19201;
    height: 30px;
    width: 90px;
    color: white;
}
.premium{
    background-image: url("images/image2.png");
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -90px;
}
.premium h1{
    position: relative;
    color: white;
    top: 200px;
    left: 100px;
}
.premium button{
    position: relative;
    top: 300px;
    left: 100px;
    border: none;
    background-color: #F19201;
    height: 30px;
    width: 100px;
    color: white;
}
.services{
    background-color:rgba(0, 20, 0, 0.1);
    position: relative;
    top: -170px;
    height: 700px;
}